<main class="main">
  <div class="inner">
      <div class="greeting">
        こんにちは、
        <%= link_to "さん★", "#", class: :greeting__link %>
      </div>
    <div class="card__wrapper">
    </div>
  </div>
</main>
